[submodule "external/teya-core"]
	path = external/teya-core
	url = https://github.com/tomhaakon/teya-core.git
[submodule "external/teya-2d"]
	path = external/teya-2d
	url = https://github.com/tomhaakon/teya-2d.git
[submodule "external/teya-game-editor"]
	path = external/teya-game-editor
	url = E:\\Dokumenter\\teya-game-editor
